
.searchBtn {
    background-color: mediumpurple;
    border-color: mediumpurple;
    color:white;
    font-weight: bold;
}

.searchBar{
    height: 10%;
    width: 50%;
    margin-top: 10%;
}

.search {
    margin: auto;
    width: 50%;
    border: none;
    padding: 10px;
    text-align: center;
}