.card {
    margin: auto;
    width: 100%;
    padding: 10px;
    margin-top: 5%;
    text-align: left;
}

#speech{
  font-style:italic;  
}

#sound {
  color: mediumpurple;
  font-size: 25px;
  margin-left: 10px;
  
}

#sound:hover {
  cursor: pointer;
}

.modalCard {
  background-color: white;
  width: 30%;
  border: 3px solid whitesmoke;
  margin-left: 40%;
  padding-right: 10px;
  margin-top: 18%;
  border-radius: 5px;  
}

#myBtn {
  border-style: none;
  background-color: white;
}

#autoplay {
  margin: auto;
  width: 50%;
  border: none;
  padding: 10px;
}