.card-header {
 
    background-color: white;   
    text-align: center !important; 
    align-items: center;
    margin-top: 5px;
}

.card-header-title {
    text-align: center !important;
    align-items: center;
}