
.searchBtn {
    background-color: mediumpurple;
    border-color: mediumpurple;
    color:white;
    font-weight: bold;
}

.searchBar{
    height: 10%;
    width: 50%;
    margin-top: 10%;
}

.search {
 
}