@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


.column {
    background-color: lightslategray;
    height: 100vh;
    width: 100vh;
}

#dictionary{
    background-color: mediumpurple;
    border-style:none;
    color: white;
    display: block;
    width: 110%;
    height: 50px;
    text-align: center;
    padding:10px;
    font-size: 25px;
    font-weight: bold;
}

#searchColumn {
    background-color: whitesmoke;
}

.sideBtn {
    background-color: lightslategray;
    color: lightgray;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
    display: block;
    width: 110%;
    height: 50px;
    text-align: center;
    padding:10px;
}

.sideBtn:hover {
    color: white;
    cursor: pointer;
}

#content {
    background-color: whitesmoke;
}

@media only screen and (max-width: 768px){
    #sidebar {
        display: none;
    }

    .search {
        margin: 0 !important;
        width: 100% !important;
    }
}