.synonymSearch{
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.searchBarSynonym {
    width: 50%; 
}


.synonymContainer {
    margin: auto;
    width: 50%;
    text-align: center;
}

#submitBtn {
    background-color: mediumpurple;
    border-color: mediumpurple;
    color:white;
    font-weight: bold;
    height: 23px;  
}